@font-face {
    font-family: RobotoSlab;
    src: url(../assets/RobotoSlab.ttf);
}

body {
    background-image: url('../assets/fall-leaves.jpg');
    background-position: center;
    background-color: #653020;
    color: white;
    font-family: RobotoSlab, 'Times New Roman', Times, serif;
    font-size: 20px;
    word-wrap: break-word;
}

.container {
    margin: auto;
    max-width: 600px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row-item {
    width: 49%;
}

.hidden {
    display: none;
}

label {
    display: block;
    font-size: 20px;
    padding: 5px 0;
}

button,
input,
select,
textarea {
    background-color: white;
    border-radius: 10px;
    border: none;
    color: #58634e;
    display: block;
    font-size: 20px;
    padding: 10px;
    transition: all 200ms linear;
    width: 100%;
}

button {
    background-color: #78866b;
    color: white;
}

button:hover {
    background-color: #8f9779;
}

hr {
    margin: 20px 0;
    border: 1px solid #8f9779;
}

textarea:disabled,
input:disabled {
    background-color: rgb(26, 24, 24);
    cursor: not-allowed;
}
